##
# Web3
web3==3.16.4
eth_utils==0.7.4
# Require this until we upgrade above dependecies
eth-abi==0.5.0

##
# Sockets
# Lock yarl until aiohttp is fixed, cf. https://github.com/aio-libs/aiohttp/issues/2662
yarl==0.18.0
# Plain websockets for connections to the Ethereum node and orderbook observer
websockets~=7.0.0
# Socket.IO server to provide a WS API, backed by aiohttp for HTTP long-polling support
python-socketio~=1.8.4
aiohttp==2.3.7
# rapidjson is a faster json serialization library (cf. https://artem.krylysov.com/blog/2015/09/29/benchmark-python-json-libraries/)
python-rapidjson==0.5.2

##
# DB
# DB driver for application
asyncpg==0.18.2
# alembic for DB versioning
alembic==0.9.6
# For use with alembic
psycopg2~=2.7.3.2

##
# Queue
huey[backends]~=1.7.0
# For use with huey's redis backend
redis~=2.10.6
# Use greenlets for huey: our tasks are mostly I/O bound
gevent


##
# Data tools
# A data object validation tool:
cerberus==1.1

##
# Crypto tools
# ecrecover support:
coincurve~=7.0.0
rlp>=0.4.7,<1.0.0
